h1{
    font-family: 'Lora', serif;
    text-align: center;
    color: rgb(9, 9, 9);
}

#x
{
    margin-left: 40%;
}
#a
{
    background-color: rgb(240, 12, 12);
    color : rgb(240, 12, 12);
    padding-right : 200px;
    padding-bottom: 100px;
    text-align: center;

}
#b
{

    background-color: rgb(248, 6, 180);
    color : rgb(248, 6, 180);
    padding-right : 200px;
    padding-bottom: 100px;
    text-align: center;
}
#c
{
    background-color: rgb(92, 4, 244);
    color : rgb(92, 4, 244);
    padding-right : 200px;
    padding-bottom: 100px;
    text-align: center;
}
#d
{

    background-color: rgb(5, 251, 13);
    color : rgb(5, 251, 13);
    padding-right : 200px;
    padding-bottom: 100px;
    text-align: center;
}
#e
{

    background-color: rgb(225, 223, 56);
    color : rgb(225, 223, 56);
    padding-right : 200px;
    padding-bottom: 400px;
    text-align: center;
}